// Farama Base

$farama-background: linear-gradient(to right top, #765e3e, #054f5b)

h1
    font-size: 2.2rem
h2
    font-size: 1.7rem
h3
    font-size: 1.4rem

// If menu is active then all elements except the menu are not visible (i.e. only element with aria-hidden="true")
html:has(.farama-header-menu.active)
    visibility: hidden

.farama-hidden[aria-hidden="true"]
    visibility: hidden

.farama-hidden[aria-hidden="false"]
    visibility: visible

// Cookies Alert

.cookie-alert
    position: fixed
    display: flex
    width: 100%
    min-height: 70px
    background-color: var(--color-background-secondary)
    color: var(--color-foreground-primary)
    border-top: 1px solid var(--color-background-border)
    bottom: 0
    left: 0
    z-index: 99999

.cookie-alert__container
    display: flex
    align-items: center
    width: 700px
    max-width: calc(100% - 28px)
    margin: auto

.cookie-alert p
    flex: 1

.cookie-alert button
    background-color: transparent
    border: none
    width: 26px
    height: 26px
    padding: 0
    cursor: pointer

.cookie-alert button svg .cls-1
    stroke: var(--color-foreground-primary)

.cookie-alert button svg
    width: 100%

// Env Icons

article[role=main]:has(.farama-env-icon-container)
    .farama-env-icon-container
        position: absolute
        display: flex
        margin-top: 7px

    .section h1:first-child, .section h2:first-child, section h1:first-child, section h2:first-child
        margin-left: 34px

.farama-env-icon
    height: 32px

// Envinronments grid

.env-grid
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    box-sizing: border-box

.env-grid__cell
    display: flex
    flex-direction: column
    width: 180px
    height: 180px
    padding: 10px

.cell__image-container
    display: flex
    height: 148px
    justify-content: center

.cell__image-container img
    max-height: 100%
    object-fit: contain

.cell__title
    display: flex
    justify-content: center
    text-align: center
    align-items: flex-end
    height: 32px
    line-height: 16px

.more-btn
    width: 240px
    margin: 12px auto
    display: block

// Farama Header

html:has(.farama-header-menu.active)
    overflow: hidden

body
    --farama-header-height: 52px
    --farama-header-logo-margin: 10px

.farama-header
    position: absolute
    display: flex
    width: 100%
    height: var(--farama-header-height)
    border-bottom: 1px solid var(--color-header-border)
    background-color: var(--color-background-secondary)
    padding: 0 36px 0 24px
    box-sizing: border-box
    z-index: 95

    .farama-header__container
        width: 100%
        max-width: 1400px
        display: flex
        margin: 0 auto
        justify-content: space-between

    a
        color: var(--color-foreground-primary)
        text-decoration: none
        transition: color 0.125s ease

        &:hover
            color: var(--color-foreground-secondary)

    .farama-header__logo
        max-height: calc(var(--farama-header-height) - var(--farama-header-logo-margin))
        margin: var(--farama-header-logo-margin)

    .farama-header__title
        font-size: var(--font-size--normal)
        font-weight: normal
        margin: 0 0 2px 0
        padding: 0 0 0 4px
        align-self: center

    .farama-header__left
        display: flex

        a
            display: flex

    .farama-header__left--mobile
        display: none

        .nav-overlay-icon svg
            width: 20px
            stroke: var(--color-foreground-primary)
            fill: var(--color-foreground-primary)
            stroke-width: 2px
            padding: 0 6px

    .farama-header__right
        display: flex
        align-items: center
        z-index: 2

        .farama-header__nav
            display: flex
            list-style: none
            height: 100%

            li
                text-decoration: none
                margin-left: 20px
                display: flex
                align-items: center
                cursor: pointer

                a
                    height: 100%
                    display: flex
                    align-items: center

                .farama-header__dropdown-container
                    position: relative
                    display: flex
                    align-items: center
                    height: 100%

                    &:hover
                        .farama-header__dropdown-menu
                            display: block

                    svg
                        width: 32px
                        fill: var(--color-foreground-primary)

                    .farama-header__dropdown-menu
                        position: absolute
                        top: var(--farama-header-height)
                        right: 0
                        border: 1px solid var(--color-background-border)
                        background: var(--color-background-hover)
                        z-index: 9999
                        display: none

                        ul
                            display: inherit
                            margin: 0
                            padding: 6px 14px

                        li
                            margin: 0
                            padding: 6px 0

        .farama-header-menu
            position: relative
            display: flex
            justify-content: center

            .farama-header-menu__btn
                display: flex
                background: none
                border: none
                cursor: pointer

                img
                    width: 26px
                svg
                    width: 14px
                    stroke: var(--color-foreground-primary)
                    stroke-width: 2px
                    align-self: center


            &.active .farama-header-menu-container
                transform: translateY(100vh)

            .farama-header-menu-container
                position: fixed
                z-index: 99
                right: 0
                top: -100vh
                width: 100%
                height: calc(100vh - calc(100vh - 100%))
                transform: translateY(0)
                box-sizing: border-box
                transition: transform 0.2s ease-in
                background-color: var(--color-background-secondary)
                border-left: 1px solid var(--color-background-border)
                overflow: auto

                .farama-header-menu__header
                    position: relative
                    width: 100%
                    max-width: 1400px
                    box-sizing: border-box
                    margin: 0 auto
                    padding: 7px 52px
                    border-bottom: 1px solid var(--color-background-border)
                    display: flex
                    align-items: center

                    a
                        display: flex
                        align-items: center

                        .farama-header-menu__logo
                            width: 36px

                        span
                            color: var(--color-sidebar-brand-text)
                            padding-left: 8px

                    .farama-header-menu-header__right
                        position: absolute
                        right: 0
                        padding-right: inherit

                        button
                            display: flex
                            background: none
                            border: none
                            cursor: pointer

                            svg
                                width: 20px
                                color: var(--color-foreground-primary)

                .farama-header-menu__body
                    display: flex
                    width: 100%
                    max-width: 1400px
                    padding: 22px 52px
                    box-sizing: border-box
                    margin: 0 auto
                    flex-wrap: wrap

                    .farama-header-menu__section
                        min-width: 250px
                        margin-bottom: 24px

                        .farama-header-menu__section-title
                            display: block
                            font-size: var(--font-size--normal)
                            font-weight: bold
                            text-transform: uppercase
                            margin-bottom: 12px

                        .farama-header-menu-list
                            display: inherit
                            margin: 0
                            padding: 0
                            list-style: none

                            li

                                &:hover
                                    background-color: var(--color-background-hover)

                                a
                                    display: flex
                                    padding: 12px 18px
                                    align-items: center

                                    &:hover
                                        color: inherit

                                    img
                                        width: 24px
                                        margin-right: 10px

.farama-sidebar__title
    display: flex
    align-items: center
    padding-right: 4px
    min-height: calc(52px - var(--sidebar-search-space-above))
    margin-top: var(--sidebar-search-space-above)

    img
        height: calc(var(--farama-header-height) - 20px)
        margin: var(--farama-header-logo-margin)
    span
        color: var(--color-foreground-primary)
        &:hover
            text-decoration: none

.sidebar-brand
    flex-direction: row
    padding: var(--sidebar-item-spacing-vertical)
    align-items: center

    .sidebar-logo-container
        display: flex
        max-width: 55px
        height: auto

    .sidebar-brand-text
        font-size: 1.3rem
        padding-left: 11px

.mobile-header
    .header-center
        transition: opacity 0.2s easy-in
        opacity: 0

.mobile-header.scrolled
    .header-center
        opacity: 1

// Sphinx Gallery

.sphx-glr-script-out
    color: var(--color-foreground-secondary)
    display: flex
    gap: 0.5em

.sphx-glr-script-out::before
    content: "Out:"
    line-height: 1.4
    padding-top: 10px

.sphx-glr-script-out .highlight
    overflow-x: auto

.sphx-glr-thumbcontainer
    z-index: 1

div.sphx-glr-download a
    width: 340px
    max-width: 100%
    box-sizing: border-box
    background: #0f4a65

div.sphx-glr-download a:hover
    background: #0d3a4e
    box-shadow: none

body[data-theme="dark"]
    div.sphx-glr-download a
        background: #0f4a65
    div.sphx-glr-download a:hover
        background: #0d3a4e

body[data-theme="light"]
    div.sphx-glr-download a
        background: #f9d4a1
    div.sphx-glr-download a:hover
        background: #d9b481

.sphx-glr-thumbcontainer img
    background-color: white
    border-radius: 4px


@media (max-width: 950px)
    .farama-header .farama-header__right .farama-header-menu .farama-header-menu-container .farama-header-menu__header
        padding: 7px 42px

    .farama-header .farama-header-menu__btn-name
        display: none


@media (max-width: 600px)
    .farama-header
        padding: 0 4px

        .farama-header__title
            font-size: var(--font-size--small)

        .farama-header__right .farama-header-menu .farama-header-menu-container
            .farama-header-menu__header
                padding: 8px 12px
            .farama-header-menu__body
                padding: 18px 12px


@media (max-width: 480px)
    .farama-header
        .farama-header__title
            width: 110px

        .farama-header-menu__btn-name
            text-align: right
            width: 100px


@media (prefers-color-scheme: light)
    body:not([data-theme="dark"])
        .farama-white-logo-invert
            filter: invert(1)


@media (prefers-color-scheme: dark)
    body:not([data-theme="light"])
        .farama-black-logo-invert
            filter: invert(1)

        // Github math render
        img[src*="//render.githubusercontent.com/render/math"]
            filter: invert(90%)
